//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
    display: inline-flex;
    padding: toRem(10) toRem(16);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 21px */
    background: $colorGreen;
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            background: $colorGreenHover;
        }
    }
    &--fw {
        width: 100%;
    }
    &--small {
        font-size: toRem(14);
    }
    &--support {
        margin-top: toRem(8);
    }
    &--large {
        padding: toRem(12) toRem(24);
    }
}
