// Заголовки, загальні БЕМ блоки та інше...
.title {
    color: $colorDark;
    font-size: toRem(32);
    font-weight: 800;
    line-height: 140%; /* 44.8px */
    text-transform: uppercase;
    &:not(:last-child) {
        margin-bottom: toRem(16);
    }
    &--page {
        color: $colorDark;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.text {
    color: $mainColor;
    font-size: toRem(16);
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.text-white {
    color: #fff;
}

.heading {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);
    min-height: toRem(250);
    background-image: url("@img/page-heading-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: toRem(80);
}
