// Заголовки, загальні БЕМ блоки та інше...
.title {
    color: $colorDark;
    font-size: toRem(32);
    font-weight: 800;
    line-height: 140%; /* 44.8px */
    text-transform: uppercase;
    &:not(:last-child) {
        margin-bottom: toRem(16);
    }
}

.text {
    color: $mainColor;
    font-size: toRem(16);
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.text-white {
    color: #fff;
}
