.contact {
    min-height: toRem(748);
    padding: toRem(80) toRem(0);
    background: $colorGreen;
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .contact__content
    &__content {
        padding-top: toRem(97);
        max-width: toRem(460);
    }
    // .contact__title
    &__title {
        color: #fff;
        font-size: toRem(42);
        font-weight: 700;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }
    // .contact__info
    &__info {
        color: #e6ebe6;
        font-size: toRem(18);
        line-height: 150%; /* 27px */
        padding-bottom: toRem(32);
        border-bottom: toRem(1) solid #e6ebe6;
        margin-bottom: toRem(32);
    }
    // .contact__list
    &__list {
    }
    // .contact__item
    &__item {
        color: #fff;
        font-size: toRem(18);
        font-weight: 700;
        line-height: 150%; /* 27px */
        display: flex;
        column-gap: toRem(16);
        max-width: toRem(350);
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
        &:last-child {
            align-items: flex-start;
            svg {
                flex-shrink: 0;
                align-items: flex-start;
            }
        }
    }
    &__form {
        display: flex;
        gap: toRem(16);
        flex-wrap: wrap;
        max-width: toRem(461);
        background: #fafafa;
        padding: toRem(56) toRem(40);
        &-input {
            padding: toRem(12) toRem(16);
            max-width: toRem(182);
            max-height: toRem(48);
            color: #585858;
            font-size: toRem(16);
            border: toRem(1) solid $colorGrey;
            line-height: 150%; /* 24px */
            &_textarea {
                min-width: 100%;
                min-height: toRem(188);
                resize: none;
                margin-bottom: toRem(16);
            }
        }
        &-button {
            width: 100%;
            justify-content: center;
            padding: toRem(12) toRem(24);
        }
        &-row {
            display: flex;
            // justify-content: space-between;
            gap: toRem(16);
            width: 100%;
            &-checkbox {
                column-gap: toRem(8);
                color: $mainColor;
                font-size: toRem(16);
                font-weight: 500;
                line-height: 150%;
                align-items: flex-start;
                margin-bottom: toRem(16);
                input {
                    width: toRem(50);
                }
                span {
                    font-weight: 700;
                }
                a {
                    color: #191919;
                    text-decoration: underline;
                    transition: all 0.3s;
                    @media (any-hover: hover) {
                        &:hover {
                            color: $colorGreen;
                        }
                    }
                }
            }
        }
    }
    &__header {
        background-color: #f1f1f1;
        position: relative;
    }
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: toRem(24);
    height: toRem(24);
    margin-top: toRem(3);
    margin-left: toRem(4);
    flex-shrink: 0;
    flex-grow: 0;
    border: toRem(2) solid $colorGreen;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
    border-color: $colorGreen;
    background-color: $colorGreen;
    background-image: url("@img/icons/checkbox.svg");
    background-size: cover;
    background-size: 80% 80%;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(51, 255, 0, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}
