.contact {
    min-height: toRem(748);
    padding: toRem(80) toRem(0);
    position: relative;
    background-image: url("@img/contact-bg-right.jpg");
    background-color: $colorGreen;
    background-position: right;
    background-repeat: no-repeat;
    @media (max-width: 1025px) {
        background-image: none;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: toRem(16);
        position: relative;
        z-index: 2;
    }
    &__bg {
        position: absolute;
        z-index: 1;
        top: toRem(20);
        left: toRem(-80);
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .contact__content
    &__content {
        padding-top: toRem(97);
        z-index: 2;
        @include adaptiveValue("max-width", 450, 350, 0, $containerWidth, 767.98);
        @media (max-width: $mobile) {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            padding-top: toRem(0);
        }
    }
    // .contact__title
    &__title {
        color: #fff;
        font-size: toRem(42);
        font-weight: 700;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }
    // .contact__info
    &__info {
        color: #e6ebe6;
        font-size: toRem(18);
        line-height: 150%; /* 27px */
        padding-bottom: toRem(32);
        border-bottom: toRem(1) solid #e6ebe6;
        margin-bottom: toRem(32);
    }
    // .contact__list
    &__list {
    }
    // .contact__item
    &__item {
        color: #fff;
        font-size: toRem(18);
        font-weight: 700;
        line-height: 150%; /* 27px */
        display: flex;
        column-gap: toRem(16);
        max-width: toRem(350);
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
        &:last-child {
            align-items: flex-start;
            svg {
                flex-shrink: 0;
                align-items: flex-start;
            }
        }
        a {
            transition: all 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        @media (max-width: $mobile) {
            margin-bottom: toRem(40);
        }
    }
    &__form {
        display: flex;
        gap: toRem(16);
        flex-wrap: wrap;
        max-width: toRem(461);
        background: #fafafa;
        padding: toRem(56) toRem(40);
        @include adaptiveValue("padding-top", 56, 40, 0, $containerWidth, 767.98);
        @include adaptiveValue("padding-right", 40, 30, 0, $containerWidth, 767.98);
        @include adaptiveValue("padding-bottom", 56, 40, 0, $containerWidth, 767.98);
        @include adaptiveValue("padding-left", 40, 30, 0, $containerWidth, 767.98);
        @media (max-width: 1025px) {
            @include adaptiveValue("max-width", 461, 369, 0, $containerWidth, 767.98);
        }
        @media (max-width: $mobile) {
            min-width: 100%;
        }

        z-index: 2;
        &-input {
            padding: toRem(12) toRem(16);
            max-width: toRem(182);
            max-height: toRem(48);
            color: #585858;
            font-size: toRem(16);
            border: toRem(1) solid $colorGrey;
            line-height: 150%; /* 24px */
            position: relative;
            &_textarea {
                min-width: 100%;
                min-height: toRem(188);
                resize: none;
                margin-bottom: toRem(16);
                @media (max-width: 1025px) {
                    width: 100%;
                }
            }
            @media (max-width: 1025px) {
                max-width: toRem(305);
                min-width: 100%;
            }
            @media (max-width: $mobile) {
                max-width: 100%;
            }
        }

        &-button {
            width: 100%;
            justify-content: center;
            padding: toRem(12) toRem(24);
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            gap: toRem(16);
            width: 100%;
            &-checkbox {
                column-gap: toRem(8);
                color: $mainColor;
                font-size: toRem(16);
                line-height: 150%;
                align-items: flex-start;
                margin-bottom: toRem(16);
                p {
                    max-width: toRem(332);
                    @media (max-width: 1025px) {
                        max-width: toRem(269);
                    }
                    @media (max-width: $mobile) {
                        @include adaptiveValue("max-width", 500, 180);
                    }
                }
                input {
                    width: toRem(50);
                }
                span {
                    font-weight: 700;
                }
                a {
                    color: #191919;
                    text-decoration: underline;
                    transition: all 0.3s;
                    @media (any-hover: hover) {
                        &:hover {
                            color: $colorGreen;
                        }
                    }
                }
            }
        }
    }
    &__header {
        background-color: #f1f1f1;
        position: relative;
    }
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: toRem(24);
    height: toRem(24);
    margin-top: toRem(3);
    margin-left: toRem(4);
    flex-shrink: 0;
    flex-grow: 0;
    border: toRem(2) solid $colorGreen;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
    border-color: $colorGreen;
    background-color: $colorGreen;
    background-image: url("@img/icons/checkbox.svg");
    background-size: cover;
    background-size: 80% 80%;
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #8bff80;
}

.custom-checkbox:not(:disabled):active + label::before {
    background-color: #8bff80;
    border-color: #8bff80;
}

.custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(51, 255, 0, 0.25);
}

.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #8bff80;
}
.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}
