//====================================================================================================
.footer {
    padding: toRem(56) toRem(0);
    background-color: $colorGrey;
    z-index: 5;
    position: relative;
    // .footer__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;

        @include adaptiveValue("column-gap", 261, 190, 0, $containerWidth, 767.98);
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: toRem(40);
        }
    }
    // .footer__contact
    &__contact {
        max-width: toRem(319);
    }
    // .footer__logo
    &__logo {
        margin-bottom: toRem(30);
    }
    // .footer__contact-list
    &__contact-list {
    }
    // .footer__contact-item
    &__contact-item {
        display: flex;
        column-gap: toRem(8);
        line-height: 150%;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
        &:last-child {
            align-items: flex-start;
            svg {
                flex-shrink: 0;
                align-items: flex-start;
            }
        }
    }
    // .footer__nav
    &__nav {
        max-width: toRem(490);
        display: flex;
        flex-wrap: wrap;
        column-gap: toRem(160);
        color: $colorDark;
        @include adaptiveValue("max-width", 490, 130, 0, $containerWidth, 767.98);

        @media (max-width: $mobile) {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            column-gap: toRem(43);
        }
    }
    // .footer__nav-item
    &__nav-item {
        @media (max-width: 1025px) {
            &:not(:last-child) {
                margin-bottom: toRem(40);
            }
        }
    }
    // .footer__title
    &__title {
        font-size: toRem(14);
        font-weight: 700;
        line-height: 150%; /* 21px */
        margin-bottom: toRem(16);
    }
    // .footer__list
    &__list {
    }
    // .footer__link
    &__link {
        font-family: "Work Sans";
        font-size: toRem(16);
        font-weight: 400;
        line-height: 150%; /* 24px */
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }
    &__copy {
        margin-top: toRem(100);
        width: 100%;
        text-align: right;
        @media (max-width: 1025px) {
            display: none;
        }
        @media (max-width: $mobile) {
            display: none;
        }
        &-md2 {
            display: none;
            @media (max-width: 1025px) {
                display: flex;
                margin-top: toRem(60);
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
        &-md3 {
            display: none;
            @media (max-width: $mobile) {
                display: flex;
                width: 100%;
            }
        }
    }
    a {
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $colorGreen;
            }
        }
    }
}

//====================================================================================================
