//====================================================================================================
.header {
    position: relative;
    min-height: toRem(89);
    @media (max-width: $mobile) {
        position: relative;
        background: #fff;
    }
    &__container {
        display: flex;
        min-height: toRem(89);
        justify-content: space-between;
        flex-basis: auto;
        align-items: center;
    }
    // .header__nav
    &__nav {
        display: flex;
        @include adaptiveValue("column-gap", 126, 72, 0, $containerWidth, 767.98);
    }
    // .header__logo
    &__logo {
        svg {
            @media (max-width: $mobile) {
                @include adaptiveValue("max-width", 157, 128, 0, 767.98, 375);
            }
        }
    }
    // .header__menu
    &__menu {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .header__list
    &__list {
        display: flex;
        @include adaptiveValue("column-gap", 56, 40, 0, $containerWidth, 767.98);
    }
    // .header__link
    &__link {
        color: $colorDark;
        font-weight: 600;
        text-transform: uppercase;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $colorGreen;
            }
        }
    }
    // .header__btn
    &__btn {
        display: flex;
        justify-content: flex-end;
    }
    &__main {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 50;
    }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
