//====================================================================================================

// Hero
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: url("@img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // .hero__container
    &__container {
        position: relative;
    }
    // .hero__content
    &__content {
        max-width: toRem(562);
        @include adaptiveValue("max-width", 562, 532, 0, $containerWidth, 767.98);
    }
    // .hero__title
    &__title {
        font-size: toRem(42);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: toRem(4);
            height: toRem(64);
            left: toRem(-28);
            background: $colorGreen;
            @media (max-width: $mobile) {
                left: toRem(-16);
            }
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("font-size", 42, 32, 0, 767.98, 375);
        }
    }
    // .hero__desc
    &__text {
        font-size: toRem(18);
        line-height: 160%;
        &:not(:last-child) {
            margin-bottom: toRem(18);
        }
    }
    &__arrow {
        position: absolute;
        left: toRem(-280);
        bottom: toRem(-300);
        animation: bounce 0.5s infinite alternate ease;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    @keyframes bounce {
        from {
            bottom: toRem(-280); /* Начальная позиция */
        }
        to {
            bottom: toRem(
                -270
            ); /* Конечная позиция (можно изменять для желаемой высоты подпрыгивания) */
        }
    }
}

//====================================================================================================

// Solutions

.solutions {
    padding: toRem(80) toRem(0);
    // .solutions__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }
    // .solutions__img
    &__img {
        max-width: toRem(558);
        @include adaptiveValue("max-width", 558, 370, 0, $containerWidth, 767.98);
        // padding: toRem(170) toRem(58) toRem(0) toRem(41);
        @include adaptiveValue("padding-top", 170, 125, 0, $containerWidth, 767.98);
        position: relative;
        img {
            @include adaptiveValue("max-width", 558, 328, 0, $containerWidth, 767.98);
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url("@img/solutions-bg.jpg");
            background-size: cover;
            z-index: -3;
            @include adaptiveValue("width", 425, 270, 0, $containerWidth, 767.98);
            @include adaptiveValue("height", 450, 297, 0, $containerWidth, 767.98);
            top: 0;
            @include adaptiveValue("left", 74, 40, 0, $containerWidth, 767.98);
        }
    }
    &__decor {
        position: relative;
        &::before {
            content: "";
            @include adaptiveValue("width", 40, 27, 0, $containerWidth, 767.98);
            @include adaptiveValue("height", 40, 27, 0, $containerWidth, 767.98);
            background: $colorGrey;
            position: absolute;
            // z-index: 2;
            @include adaptiveValue("left", 517, 320, 0, $containerWidth, 767.98);
            @include adaptiveValue("bottom", 128, 90, 0, $containerWidth, 767.98);
        }
        &::after {
            content: "";
            @include adaptiveValue("width", 20, 14, 0, $containerWidth, 767.98);
            @include adaptiveValue("height", 20, 14, 0, $containerWidth, 767.98);
            background: #fff;
            position: absolute;

            @include adaptiveValue("left", 462, 285, 0, $containerWidth, 767.98);
            @include adaptiveValue("bottom", 92, 60, 0, $containerWidth, 767.98);
        }
    }
    &__bg {
        position: absolute;
        top: toRem(69);
        left: toRem(143);
        z-index: -1;
        width: toRem(425);
        &::before {
            content: "";
            @include adaptiveValue("width", 40, 27, 0, $containerWidth, 767.98);
            @include adaptiveValue("height", 40, 27, 0, $containerWidth, 767.98);
            background: $colorGrey;
            position: absolute;
            @include adaptiveValue("left", -130, -140, 0, $containerWidth, 767.98);
            @include adaptiveValue("top", -7, -30, 0, $containerWidth, 767.98);
        }
        &::after {
            content: "";
            @include adaptiveValue("width", 20, 14, 0, $containerWidth, 767.98);
            @include adaptiveValue("height", 20, 14, 0, $containerWidth, 767.98);
            background: #fff;
            position: absolute;
            @include adaptiveValue("left", -53, -90, 0, $containerWidth, 767.98);
            @include adaptiveValue("top", 49, 10, 0, $containerWidth, 767.98);
        }
    }
    // .solutions__content
    &__content {
        @include adaptiveValue("max-width", 460, 370, 0, $containerWidth, 767.98);
    }
    // .solutions__title
    &__title {
    }
    // .solutions__text
    &__text {
        line-height: 160%;
        font-size: toRem(18);
        color: $colorDark;
        &:not(:last-child) {
            margin-bottom: toRem(32);
        }
    }
}

.tabs {
    // .tabs__navigation
    &__navigation {
        display: flex;
        flex-direction: column;
        row-gap: toRem(16);
        align-items: flex-start;
        margin-bottom: toRem(24);
    }
    // .tabs__title
    &__title {
        color: $colorDark;
        font-size: toRem(14);
        line-height: 150%; /* 21px */
        letter-spacing: 0.42px;
        text-transform: uppercase;
        padding: toRem(2) toRem(12);
        background: $colorGrey;
    }
    // .tabs__content
    &__content {
        line-height: 150%; /* 24px */
    }
    // .tabs__body
    &__body {
    }
}
._tab-active {
    color: #fff;
    background: $colorGreen;
}

//====================================================================================================
// Features

.features {
    padding: toRem(86) toRem(0);
    min-height: toRem(756);
    background-image: url("@img/features-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // .features__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1025px) {
            flex-direction: column;
            gap: toRem(16);
        }
    }
    // .features__item
    &__item {
        max-width: toRem(364);
        max-height: toRem(401);
        padding: toRem(40) toRem(40) toRem(80) toRem(40);
        background-color: #fafafa;
        transition: all 0.3s;
        @media (max-width: 1025px) {
            max-width: unset;
            width: 100%;
        }
        @media (max-width: $mobile) {
            max-height: unset;
        }
        cursor: pointer;
        // &-white {
        //     background-color: $colorGreen;
        //     margin-top: toRem(195);
        // }
        &-mt {
            margin-top: toRem(195);
            @media (max-width: 1025px) {
                margin-top: toRem(0);
            }
        }
    }
    // .features__item-num
    &__item-num {
        display: block;
        color: $colorGreen;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: toRem(34);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: toRem(30);
            height: toRem(30);
            background-color: $colorGrey;
            right: toRem(-40);
        }
    }
    // &__item-num.text-white {
    //     color: #fff;
    //     &::before {
    //         background-color: #84d782;
    //     }
    // }
    // .features__item-title
    &__item-title {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        margin-bottom: toRem(16);
    }
    // &__item-title.text-white {
    //     color: #fff;
    // }
    // .features__item-text
    &__item-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }
    .features__item:hover {
        background: $colorGreen;
    }
    .features__item:hover .features__item-num {
        color: #fff;
    }
    .features__item:hover .features__item-num::before {
        background-color: #84d782;
    }

    .features__item:hover .features__item-title {
        color: #fff;
    }

    .features__item:hover .features__item-text {
        color: #fff;
    }

    // .features__item-white:hover {
    //     background: #fff;
    // }
    // .features__item-white:hover .features__item-num {
    //     color: $colorGreen;
    // }
    // .features__item-white:hover .features__item-num::before {
    //     background-color: $colorGrey;
    // }

    // .features__item-white:hover .features__item-title {
    //     color: #000;
    // }

    // .features__item-white:hover .features__item-text {
    //     color: $mainColor;
    // }
}

//====================================================================================================
// Support

.support {
    padding: toRem(76) toRem(0);
    background-color: #fafafa;
    // .support__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    // .support__heading
    &__heading {
        max-width: toRem(558);
        padding-top: toRem(33);
        @media (max-width: 1025px) {
            padding-top: toRem(0);
            max-width: 100%;
        }
    }
    // .support__subtitle
    &__subtitle {
        display: inline-block;
        color: #fff;
        font-size: toRem(14);
        padding: toRem(0) toRem(12);
        background-color: $colorGreen;
        line-height: 150%; /* 21px */
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: toRem(18);
    }
    // .support__descr
    &__descr {
        font-size: toRem(18);
        max-width: toRem(550);
        font-weight: 500;
        line-height: 160%; /* 28.8px */
        @media (max-width: 1025px) {
            max-width: 100%;
            margin-bottom: toRem(32);
        }
    }
    // .support__content
    &__content {
        max-width: toRem(461);
        line-height: 150%;
        @media (max-width: 1025px) {
            padding-top: toRem(0);
            max-width: 100%;
        }
        p {
            &:not(:last-child) {
                margin-bottom: toRem(16);
            }
        }
    }
}

//====================================================================================================
// About

.about {
    @include adaptiveValue("min-height", 754, 629, 0, $containerWidth, 767.98);
    padding: toRem(70) toRem(0) toRem(63) toRem(10);
    background-image: url("@img/about-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // .about__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include adaptiveValue("column-gap", 218, 100);
    }
    // .about__title
    &__title {
        max-width: toRem(460);
        color: #fff;
        font-size: toRem(70);
        font-weight: 700;
        line-height: 120%; /* 84px */
        @media (max-width: $mobile) {
            @include adaptiveValue("font-size", 70, 40);
        }
    }
    // .about__content
    &__content {
        max-width: toRem(460);
    }
    // .about__text
    &__text {
        color: #fff;
        line-height: 150%; /* 24px */
        margin-top: toRem(12);
        margin-bottom: toRem(24);
    }
}
.button {
    // .button--about
    &--about {
        padding: toRem(12) toRem(25);
    }
}

//====================================================================================================
// Join

.join {
    @include adaptiveValue("padding-top", 130, 80, 0, $containerWidth, 767.98);
    @include adaptiveValue("padding-bottom", 130, 80, 0, $containerWidth, 767.98);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -10;
        background-color: $colorGreen;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -10;
        background-image: url("@img/logo-bg.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    // .join__container
    &__container {
        max-height: toRem(519);
    }
    &__content {
        max-width: toRem(558);
        // color: #fff;
    }

    // .join__title
    &__title {
        color: #fff;
        font-weight: 800;
        line-height: 140%; /* 44.8px */
        text-transform: uppercase;
    }
    // .join__descr
    &__descr {
        color: #fdfdfd;
        font-size: 18px;
        line-height: 160%; /* 28.8px */
        margin-bottom: toRem(24);
    }
    // .join__left
    &__left {
        position: absolute;
        left: toRem(241);
        top: 0;
        background-image: url("img/join-bg-left.png");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        height: 100%;
        width: 60%;
        z-index: -1;
        @media (max-width: 1025px) {
            display: none;
        }
    }
    // .join__right
    &__right {
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("img/join-bg-right.jpg");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        height: 100%;
        width: 50%;
        z-index: -2;
        @media (max-width: 1025px) {
            display: none;
        }
    }
}
.button {
    // .button--join
    &--join {
        background: #fff;
        color: $colorGreen;
        padding: toRem(10) toRem(24);
        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
    }
}

//====================================================================================================
