.legal {
    // .legal__content
    &__content {
        padding-top: toRem(80);
        padding-bottom: toRem(80);
        max-width: toRem(946);
        @media (max-width: 1025px) {
            max-width: 100%;
        }
    }
    // .legal__title
    &__title {
        line-height: 100%;
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
        &:not(:first-child) {
            margin-top: toRem(40);
        }
    }
    &__info {
        font-size: toRem(18);
        line-height: 160%; /* 28.8px */
        &-important {
            color: $colorDark;
        }
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .legal__list
    &__list {
    }
    // .legal__list-item
    &__list-item {
        font-size: toRem(18);
        line-height: 160%; /* 28.8px */
        padding-left: toRem(27);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: toRem(3);
            height: toRem(3);
            background-color: $mainColor;
            border-radius: 50%;
            left: toRem(12);
            top: toRem(11);
        }
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
        &:last-child {
            margin-bottom: toRem(24);
        }
    }
    span {
        color: $colorDark;
        font-weight: 700;
    }
}
.heading {
    // .heading--container
    &--container {
    }
}
.title {
    // .title--page
    &--page {
    }
}
